.sidebar-wrapper {
	min-height:100vh;
	padding: 100px 10px 0px 10px;
}

.stats-heading {
	text-align: center;
  margin-top: 25px;
}

.graph-wrapper{
	height: 61%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
    font-size: 25px;
    display: block;
    padding: 1.5rem 2rem;
    text-align: left;
    color: white;
}
.nav-link:hover {
	color: black;
}
